@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
:root {
  --border-radius: 5px;
}
*{
  box-sizing: border-box;
}

body {
  color: white;
  margin: 0;
  min-height: 100vh;
  font-family: 'Sen', sans-serif;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./background.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 480px;
  height: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 15px 32px 0 rgba(255,255,255,0.5);
  backdrop-filter: blur( 15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.form-group {
  display: flex;
  flex-direction: column;
}

input {
  appearance: none;
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 5px 8px;
  width: 350px;
  margin-top: 8px;
  margin-bottom: 12px;

}

input::placeholder {
  color: lightgray;
}
input:hover {
  filter: brightness(90%);
  transition: all 0.2s;
}

input:valid {
  border: 1px solid #99cc33;
}
input:invalid {
  border: 1px solid 	#ff9966;
}

button {
  color: white;
  font-size: 20px;
  font-family: 'Sen', sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  width: 350px;
  height: 40px;
  appearance: none;
  outline: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: var(--border-radius);
  padding: 5px 8px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  color:gray;
  background-color: white;
  transition: 0.2s;
}
button:active {
  transform: translateY(4px);
  color:gray;
  background-color: white;
}

button:focus{
  outline: none;
}

.message-container h3{
  width: 350px;
  height: 50px;
  color: white;
  border: 2px solid white;
  border-radius: var(--border-radius);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* .message-container:hover h3 {
  color: gray;
  background-color: white;
  transition: 0.2s;
  
}
.message-container:active h3 {
  transform: translateY(4px);
  color:gray;
  background-color: white;
  transition: 0.2s;
} */